<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LeviySoft.Extensions" version="1.0.1" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net451" />
  <package id="Nancy" version="0.23.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
</packages>